$cor-principal: #0952b0;
$desk: "screen and (min-width:776px)";

.nav-bar{
    @media #{$desk}{
        
    }
}

.navbar-brand {
    z-index: 5;
}

.navbar {
    text-align: center;
    margin-bottom: 0rem;
}

.navbar-collapse {
    justify-content: center;
    margin-left: 80px;
}

.menu-urls{ 
    z-index:6;
    background-color: $cor-principal;
    border-radius: 10px;
    margin: 0 auto;
    line-height: 10px;
    position:relative;
    left: 260px;
}

.nav-item {
    text-align: right;
    font-weight: bold;
    list-style-type: none;
}

.nav-item a {
    text-align: right;
    color: white;
}

.nav-item a:hover {
    color: white;
    background-color: orange;
    border-radius: 15px;
}

.triangulo-topo {
    margin-top: -710px;
}

.img-topo {
    position: fixed;
    z-index: -1;
}
.carousel {
    vertical-align: top;
    top: -84px;
}

.orcamento {
    position: relative;
    background-color: orange;
    color: black;
    border-radius: 15px;
    margin-left:30px;
    margin-right: -40px;
}

.orcamento:hover {
    background-color: orange;
    color:white;
    border-radius: 15px;
    margin-left:30px;
}

.btn-max{
    padding: 30px;
    background-color: #050e2e;
}

.img-topo {
    position: absolute;
    margin-top: -50px;
    width: 400px;
    display: flex;
}

.lista-produtos {
    position: relative;
    left: 90px;
    padding-bottom: 20px;
} 

.prod-bloco {
    border: 1px solid #0952b0;
    border-radius: 15px;
}
.prod-bloco:hover {
    border: 1px solid orange;
    border-radius: 15px;
}

.alinha-texto {
    text-align: left;
    margin-bottom: 60px;
}

.btn-warning {
    border-radius: 15px;
    font-weight: bold;
}

.btn-warning:hover {
    border-radius: 15px;
    font-weight: bold;
    color: #fff;
}
.barra-cinza {
    position:relative;
    background-color: #f2f5f8;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: -20px;
}
.barra-azul {
    background-color: #0952b0;
    padding: 30px;
    margin-top: 20px;
}

.barra-azul .btn-warning {
    position: relative;
    right: 350px;
    top: -50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu-secundario{
    z-index: 1;
    margin-top: -120px;
    position: relative;
    border: 2px #fff;
}
.btn-lg {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sobre-nos {
    position: relative;
    left: 200px;
    float: right;
    width: 30px;
    margin-top: -600px;
    width: 75%;
} 

.img-1 {
    position: absolute;
    z-index: 1;
    width: 90%;
    margin-top: 100px;
}

.img-2 {
    position: relative;
    z-index: -1;
    margin-top: -40px;
    margin-right: 40px;
    width: 500px;
}

.d-inline{
    justify-content: center;
}

.solicite-orçamento {
    margin: auto;
    background: url(../images/teste.png) center no-repeat;
    padding-bottom: 250px;
}

.solicite-orçamento .btn-primary {
    position: absolute;
    margin-top: 140px;
    margin-left: -240px;
    margin-right: auto;
}
.solicite-orçamento .h1 {
    position: relative;
    padding-top: 50px;
    font-weight: bold;
    color: #fff;
}

.about-text {
    position: relative;
    right: 250px;
    margin-bottom: 1.8em;
}

.img-employee {
    position: relative;
    float: left;
    top: -150px;
    left: 80px;
}

.footer-items {
    padding-left: -200px;
    padding-right: -200px;
    border: 0px;
}

.footer-items .col {
    padding-left: 0px;
    padding-right: 0px;
}

.menu-footer {
    flex-direction: row;
    justify-content: center;
}

.footer-links{
    color: #000;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
}

.footer-links:hover{
    color: #000;
    background-color: orange;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
}
