.hamburguer-menu{
    position: fixed;
    right: 470px;
    z-index: 99999999999;
    top: 0px;
}


.navbar-brand {
    z-index: 5;
}

.navbar {
    text-align: center;
}

dl, ol, ul {
    margin-bottom: 0rem;
}

.navbar-collapse {
    justify-content: center;
    margin-left: 80px;
}

.menu-urls{ 
    z-index:6;
    background-color:#0952b0;
    border-radius: 10px;
    margin: 0 auto;
    line-height: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    position:relative;
    left: 260px;
}

.nav-item {
    text-align: right;
    font-weight: bold;
    list-style-type: none;
}

.nav-item a {
    text-align: right;
    color: white;
}

.nav-item a:hover {
    color: white;
    background-color: orange;
    border-radius: 15px;
}

.triangulo-topo {
    margin-top: -710px;
}

.img-topo {
    position: fixed;
    z-index: -1;
}
.carousel {
    vertical-align: top;
    top: -84px;
}

.orcamento {
    position: absolute;
    background-color: orange;
    color: black;
    border-radius: 15px;
    margin-left:550px;
    margin-right: -40px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    display: inline;
}

.btn-max{
    padding: 30px;
    background-color: #050e2e;
}

.img-topo {
    position: absolute;
    margin-top: -50px;
    width: 400px;
    display: flex;
}

.lista-produtos {
    position: relative;
    left: 90px;
    padding-bottom: 20px;
} 

.prod-bloco {
    border: 1px solid #0952b0;
    border-radius: 15px;
    
}
.prod-bloco:hover {
    border: 1px solid orange;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.52);
}

.alinha-texto {
    text-align: left;
    margin-bottom: 60px;
}

.btn-warning {
    background-color: #fec200;
    border-radius: 15px;
    font-weight: bold;
}

.btn-warning:hover {
    border-radius: 15px;
    font-weight: bold;
    background-color: #fdaf00;
    color: #fff;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.52);
}
.barra-cinza {
    position:relative;
    background-color: #f2f5f8;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: -20px;
}
.barra-azul {
    background-color: #0952b0;
    padding: 30px;
    margin-top: 20px;
}

.barra-azul .btn-warning {
    position: relative;
    right: 350px;
    top: -50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu-secundario{
    z-index: 1;
    margin-top: -120px;
    position: relative;
    border: 2px #fff;
}
.btn-lg {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sobre-nos {
    position: relative;
    left: 200px;
    float: right;
    width: 30px;
    margin-top: -600px;
    width: 75%;
} 

.img-1 {
    position: absolute;
    z-index: 1;
    width: 80%;
    margin-top: 276px;
    margin-left: -120px;
}

.img-2 {
    position: relative;
    z-index: -1;
    margin-top: -40px;
    margin-right: 40px;
    top: 3px;
    left: 22px;
    width: 550px;
}

.d-inline{
    justify-content: center;
}

.solicite-orçamento {
    margin: auto;
    background: url(../images/teste.png) center no-repeat;
    padding-bottom: 250px;
}

.solicite-orçamento .btn-primary {
    position: absolute;
    margin-top: 140px;
    margin-left: -240px;
    padding: 20px;
    border-radius: 20px;
    margin-right: auto;
    background-color: #0954b2;
}

.solicite-orçamento .btn-primary:hover {
    position: absolute;
    margin-top: 140px;
    margin-left: -240px;
    padding: 20px;
    border-radius: 20px;
    margin-right: auto;
    background-color: #0954b2;
    -webkit-box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.52);
}
.solicite-orçamento .h1 {
    position: relative;
    padding-top: 50px;
    font-weight: bold;
    color: #fff;
}

.about-text {
    position: relative;
    right: 250px;
    margin-bottom: 1.8em;
}

.img-employee {
    position: relative;
    float: left;
    top: -175px;
    left: 80px;
}

.card-body {
    text-align: center;
}


.footer-items {
    padding-left: -200px;
    padding-right: -200px;
    border: 0px;
}

.menu-footer {
    flex-direction: row;
    justify-content: center;
}

.footer-links{
    color: #000;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
}

.footer-links:hover{
    color: #000;
    background-color: orange;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
}

.bg-dark, .bg-primary {
padding-bottom: 36px;
margin-bottom: 19px;
}

.btn-green {
    border: 0px;
    background-color: #25d366;
    border-radius: 25px 0px 0px 25px;
}

.float-whatsapp {
        position: fixed;
        bottom: 50%;
        left: 95%;
        right: 0;
}
.float-whatsapp:hover {
    position: fixed;
    z-index: 10000000;
    transition-duration: 1s;
    left: 85%;
    right: 0;
}

.carousel {
    width: 1000px;
    margin: 0 auto;
 }
 @media (max-width: 993px) {

    .hamburguer-menu{
        display: relative!important;
        position: fixed;
        float: right;
        right: 44px;
    }

    .btn-warning{
        display: none;
    }

    body {
        width: 400%!important;
    }
    .navbar{
        display:inline-flex;
    }
    .nav-item {
        display: block;
    }

    .triangulo-topo, .alinha-texto {
        display:none;
    }
    .img-1, .img-2 {
        display:none;
    }
    
    .van-principal {
        display: none;
    }
    .carousel-caption {
        display: none;
    }
    .img-topo {
        display: none;
        width: 150%;
    }
    .btn-green{
        display: none;
    }
    .lista-produtos {
        display: flex;
        position: absolute;
        margin-top: -5px;
        margin-left: 1px;
        margin-bottom: 50px;
        margin-right: 76px;
        width: 300%;
    }

    .menu-secundario{
        padding-top: 50px;
    }
    .van {
        display: none;
    }
    .footer-links{
        display: block;
    }
    .solicite-orçamento {
        display: none;
    }
    .menu-rodape{
        display: block;
    }
    .barra-azul, .barra-cinza {
        display: none;
        width: 2000%;
    }
    .about-text {
        position: relative;
        right: 0px;
        margin-bottom: 1.8em;
    }
    .about-text {
        width: auto;
    }
    .about-us {
        margin-top: 410px;
        text-align: center;
    }
}



